/* General setup */

* {
  box-sizing: border-box;
}


/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: 'Aref Ruqaa';
  src: url('fonts/ArefRuqaaInk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aref Ruqaa';
  src: url('fonts/ArefRuqaaInk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



body {
  font-family: 'Aref Ruqaa', serif;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  word-spacing:   0.6px;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}
