/* Coolbox Stylesheet */
/*
Box rules: I'm putting them here to remember them as I do this. 
A reasonable width for a large box, say around 200 pixels.
A reasonable height for a large box, centering the text vertically in the process.
Center the box horizontally.
Center the text within the box.
A slight increase in font size, to around 17-18 pixel computed style. Use rems. Write a comment about how you worked out the value.
A base color for the design. Give the box this color as its background color.
A contrasting color for the text and a black text shadow.
A fairly subtle border radius.
A 1-pixel solid border with a color similar to the base color, but a slightly darker shade.
A linear semi-transparent black gradient that goes toward the bottom right corner. Make it completely transparent at the start, grading to around 0.2 opacity by 30% along, and remaining at the same color until the end.
Multiple box shadows. Give it one standard box shadow to make the box look slightly raised off the page. The other two should be inset box shadows — a semi-transparent white shadow near the top left and a semi-transparent black shadow near the bottom right — to add to the nice raised 3D look of the box.
*/
html {
  font-family: sans-serif;
}

/* Your CSS below here */
.Coolbox {
width : 200px; 
height : 150px;
margin: 0 auto;
display: flex;
justify-content: center;
    align-items: center;
font-size: 1.125rem; /* Google says 18px is  1.125rem */
background-color: purple;
color : orange;
text-shadow: 1px 1px 2px black;
border-radius: 10px;
border: 2px solid #800080; /* A darker shade of purple */
background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2)
no-repeat center 0,);
    box-shadow: inset 2.5px 2.5px 2px rgba(255,255,255,0.5),
    inset -1.5px -2px 4px rgba(0,0,0,0.4),
    -0.3px -0.3px 4px rgba(0,0,0,0.5),
    2px 2px 10px rgba(0,0,0,0.6);


}